/* body {
    background-image: url("https://images.unsplash.com/photo-1661961112134-fbce0fdf3d99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80");
 background-image: url("photo-1661961112134-fbce0fdf3d99.avif"); 
 background-image: linear-gradient(to right, #215f00, #e4e4d9); 
 background-size: cover; 
 background-repeat: no-repeat; 
}

/* body {
    background-image: linear-gradient(to right, #3e92cc, #2a628f, #16324f, #18435a);
} */

header {
    display: flex;
    justify-content: space-between;

    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Roboto Mono';
    color: #0c630c;
    font-size: 2rem;
    /* for don't change the color of h1 element after dark mode */
    isolation: isolate;
}


#time {
    font-family: 'Roboto Mono';
    color: #0c630c;
    font-size: 1.5rem;
    isolation: isolate;
}

.head {
    width: 60%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

label[for="tdl"] {
    font-size: 2rem;
    display: inline;
    font-family: 'Roboto Mono', monospace;
    transform: translateY(-8px);
}

div {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    transform: translateY(-8px);
    /* isolation: isolate; */
    color: #38a3a5;
}

input[type="text"] {
    width: 300px;
    height: 30px;

    font-size: 1.7rem;
    transition: all 1s;
    font-family: 'Roboto Mono', monospace;

    caret-color: #007200;
}

input[type="text"]:focus {
    width: 400px;
    background-color: #e9edc9;
}


#Add,
#Edit {
    display: inline-block;
    font-size: 2rem;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;

    transform: translatey(-5px);

    /*for remove defaul button*/
    padding: 0;
    border: none;
    background: none;

    /* color: #b6be9c; */
    /* color: #000; */
    color: #38a3a5;
}

#Add:hover,
#Edit:hover {
    cursor: pointer;
    color: #007200;
}


input[type="checkbox"] {
    width: 30px;
    height: 30px;
    transform: translateY(7px);
    cursor: pointer;
}

/* label {
    display: block;
    font-size: 1.8rem;
} */


hr {
    border-color: #007200;
}

.overline {
    text-decoration: line-through;
}

.none {
    text-decoration: none;
}

#completed {
    color: #c7c2c2;
}

img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

P {
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
}

.delete {
    margin-left: 20px;
    margin-right: 20px;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;

    padding: 0;
    border: none;
    background: none;

    color: #b6be9c;

    cursor: pointer;
}

.delete:hover {
    color: red;
}

.edit {

    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;

    padding: 0;
    border: none;
    background: none;

    color: #b6be9c;

    cursor: pointer;
}

.edit:hover {
    color: #007200;

}

@media (max-width:820px) {

    input[type="text"] {
        width: 250px;
    }

    input[type="text"]:focus {
        width: 250px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #time {
        font-size: 1rem;
    }

    div {
        font-size: 1.5rem;
    }
}

@media (max-width:655px) {
    .container {
        display: block;
    }

    label[for="tdl"] {
        display: block;
        font-size: 1.5rem;
    }

    input[type="text"] {
        display: inline-block;
    }

    body {
        background-repeat: repeat;
    }

    #Add,
    #Edit {
        display: inline-block;
        transform: translateY(-3.5px);
        transform: translateX(-5px);
        font-size: 1.5rem;
    }

    img {
        width: 30px;
        height: 30px;
    }

    p {
        font-size: 1rem
    }
}

.display {
    display: none !important;
}

/*add a scroll bar to page :*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}